.footer {
  background-image: url("../../img/footerImage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.buttlet li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.buttlet li a {
  text-decoration: none;
  color: #dededebd;
}
.buttlet li a:hover {
  border-bottom: 1px solid gray;
}
.icon-footer {
  margin-right: 5px;
}
button.scroll-to-top {
  padding: 6px;
  border-radius: 20px;
}
